<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
      <title>Scenario {{scenarioID}}</title>
      <script src="/static/scripts/jquery-3.3.1.js"></script>
      <script src="/static/scripts/ChartJS/Chart.bundle.js"></script>
      <script src="/static/scripts/SemanticUI/semantic.min.js"></script>
      <link rel="stylesheet" href="/static/scripts/SemanticUI/semantic.min.css">

      <link rel="stylesheet" href="/static/style.css">
    </head>
    <body>
        <div align="center">
            <p style="font-size: 60px"><strong>
                CitiSim
            </strong></p>
        </div>
        <br><br><br>

        <div class="ui inverted horizontal divider">
            <strong style="font-size: 24px;">
                Scenarios
            </strong>
        </div>
        <br>

        <div class="floating-button" data-content="Add New Scenario" onclick="launchNSModal()">
            <i class="plus icon" style="margin-top:20px; margin-left: 10px; font-size:35px;"></i>
        </div>
    </body>
</html>
